html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;

  /* Adding padding */
  padding: 20px;
  width: 500px;
  /* add background colour */
  background-color: #efefef;
  /* centering the body on the page */
  margin: 0 auto;
}


/* Headings */
/* h1 coloor and border and font size */
h1 {
  color: darkslategray;
  border-bottom: 10px dotted purple;
  font-size: 2rem;
}
/* h2 italic and font size */
h2 {
  font-style: italic;
  font-size: 1.5rem;
}

/* Job title */
/* style the job title class */
.job-title {
  color: darkslategray;
  font-weight: bold;
}

/* Contact list */
/* add background, border, padding for ul */
ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}

/* links */
a {
  color: green;
}
/* hover and focus states */
a:hover,
a:focus {
  color: darkgreen;
  text-decoration: none;
}